<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kirchhoff.rxexample">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".ui.FirstActivity"
            android:label="@string/first" />

        <activity
            android:name=".ui.MapOperatorActivity"
            android:label="@string/map.operator" />

        <activity
            android:name=".ui.ZipOperatorActivity"
            android:label="@string/zip.operator" />

        <activity
            android:name=".ui.DisposableActivity"
            android:label="@string/disposable.operator" />

        <activity
            android:name=".ui.TakeOperatorActivity"
            android:label="@string/take.operator" />

        <activity
            android:name=".ui.operators.creating.TimerOperatorActivity"
            android:label="@string/timer" />

        <activity
            android:name=".ui.operators.creating.IntervalOperatorActivity"
            android:label="@string/interval" />

        <activity
            android:name=".ui.SingleObserverActivity"
            android:label="@string/single.observer" />

        <activity
            android:name=".ui.CompletableObserverActivity"
            android:label="@string/completable.observer" />

        <activity
            android:name=".ui.FlowableActivity"
            android:label="@string/flowable" />

        <activity
            android:name=".ui.ReduceOperatorActivity"
            android:label="@string/reduce.operator" />

        <activity
            android:name=".ui.BufferOperatorActivity"
            android:label="@string/buffer.operator" />

        <activity
            android:name=".ui.FilterOperatorActivity"
            android:label="@string/filter.operator" />

        <activity
            android:name=".ui.SkipOperatorActivity"
            android:label="@string/skip.operator" />

        <activity
            android:name=".ui.ReplayOperatorActivity"
            android:label="@string/replay.operator" />

        <activity
            android:name=".ui.ScanOperatorActivity"
            android:label="@string/scan.operator" />

        <activity
            android:name=".ui.ConcatOperatorActivity"
            android:label="@string/concat.operator" />

        <activity
            android:name=".ui.MergeOperatorActivity"
            android:label="@string/merge.operator" />

        <activity
            android:name=".ui.operators.creating.DeferOperatorActivity"
            android:label="@string/defer.observable" />

        <activity
            android:name=".ui.DistinctOperatorActivity"
            android:label="@string/distinct.operator" />

        <activity
            android:name=".ui.LastOperatorActivity"
            android:label="@string/last.operator" />

        <activity
            android:name=".ui.ReplaySubjectActivity"
            android:label="@string/replay.operator" />

        <activity
            android:name=".ui.PublishSubjectActivity"
            android:label="@string/publish.subject" />

        <activity
            android:name=".ui.BehaviorSubjectActivity"
            android:label="@string/behavior.subject" />

        <activity
            android:name=".ui.AsyncSubjectActivity"
            android:label="@string/async.subject" />

        <activity
            android:name=".ui.ThrottleFirstActivity"
            android:label="@string/throttle.first" />

        <activity
            android:name=".ui.ThrottleLastActivity"
            android:label="@string/throttle.last" />

        <activity
            android:name=".ui.DebounceOperatorActivity"
            android:label="@string/debounce.operator" />

        <activity
            android:name=".ui.WindowOperatorActivity"
            android:label="@string/window.operator" />

        <activity
            android:name=".ui.DelayOperatorActivity"
            android:label="@string/delay.operator" />

        <activity
            android:name=".ui.operators.creating.RangeOperatorActivity"
            android:label="@string/range.operator" />

        <activity
            android:name=".ui.pagination.PaginationActivity"
            android:label="@string/pagination.title" />

        <activity
            android:name=".ui.GroupBuyOperatorActivity"
            android:label="@string/group.by.operator" />

        <activity
            android:name=".network.screen.RxStreamingActivity"
            android:label="@string/rx.streaming" />

        <activity
            android:name=".network.screen.country.CountryActivity"
            android:label="@string/rx.databinding" />

        <activity
            android:name=".ui.operators.creating.RepeatOperatorActivity"
            android:label="@string/repeat.operator" />

        <activity
            android:name=".ui.operators.creating.RepeatWhenOperatorActivity"
            android:label="@string/repeat.when.operator" />
    </application>

</manifest>